*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}

/* pulsanti */

.button{
  z-index: 1;
  height: 35px;
  width: 35px;
  font-size: 25px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 1px 7px black;
  text-align: center;
  cursor: pointer;
}

.button.one{
  position: fixed;
  top: 40px;
  right: 200px;
}

.button.two{
  position: fixed;
  top: 40px;
  right: 125px;
}

.button.three{
  position: fixed;
  top: 40px;
  right: 50px;
}

/* prodotti */

.descr-1{
  color: yellow;
  text-transform:uppercase;
  font-size: 70px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.descr-2{
  color: yellow;
  text-transform: uppercase;
  font-size: 80px;
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.D2{
  color: blue;
}

.block-one{
  position: relative;
  background-color: red;
  width: 100vw;
  height: 100vh;
}

.block-two{
  position: relative;
  background-color: yellow;
  width: 100vw;
  height: 100vh;
}

.block-three{
  position: relative;
  background-color: green;
  width: 100vw;
  height: 100vh;
}

.scarpa-uno{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:540px;
  height: auto;
}

.scarpa-due{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:540px;
  height: auto;
}

.scarpa-tre{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:540px;
  height: auto;
}
